<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>CALC-U-L8R</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
  <nav>
      <li><a href="/">home</a></li>
      <li><a href="/about_us">about</a></li>
      <li><a href="/faqs">FAQs</a></li>
      <li><a href="/age"></a>Age</li>
      <li><a href="/calculate">Basic Calculator</a></li>
      <li><a href="/length_converter">Length converter</a></li>
      <li><a href="/sleeps_till_christmas">sleeps till Christmas</a></li>
  </nav>


    <div>
      <%= yield %>
    </div>

  </body>
</html>