<% if @result  %>
  <h1>The result is <%= @result %></h1>
<% end %>

<form method="get" action="/calculate">
  <input type="number" name="first_number" placeholder="second number" step="0.01">
  <select name="operator">
    <option value="+">+</option>
    <option value="-">-</option>
    <option value="*">ร</option>
    <option value="/">รท</option>
  </select>
  <input type="number" name="second_number" placeholder="second number" step="0.01">
  <button>calculate</button>
</form>